<div class="container-fluid">
    <div class="row p-4">
        <div class="col-lg-4">
            <h1>HELP TOPIC'S</h1>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                     delivery related
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Sellers usually ship orders 1-2 business days before the delivery date so that they reach you on time. In case your order hasn't been shipped within this time please contact our Customer Support so that we can look into it.
                        As per company policy, a shipment can't be opened before delivery, but you can accept the shipment and get in touch with us later in case you have any concerns. </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Login and Myaccount
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"> To reactivate your Flipkart account, simply log in with your registered email ID or mobile number/password combination used before deactivation. Your account data will be fully restored, default subscription settings applied.
                        As the verification step is a one time process, you won't have to do it again once your account is verified.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Groceries
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Groceries on Flipkart are available from top brands such as HUL, P&G, ITC etc. which are renowned for their quality products.
                        Seller also checks the freshness of groceries when they receive the stock from vendors and before the dispatch of items in order to ensure that only the best produce and packaged groceries reach you.</div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-lg-8">
            <img src="../../../assets/help.webp" alt="" style="align-items: center;">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 style="text-align: center;">CONTACT US</h1>
    </div>
    <div class="row">
        <div class="col-6" >
            <!-- <img src="../../../assets/Google-Maps.webp" alt="" style="height: 95%; width: 96%;"> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15714.260709568229!2d76.3521401!3d10.0526937!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1714807308611!5m2!1sen!2sin"
             width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-6 ">
            <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Full name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Subject</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Write message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Send message</button>
</form>
        </div>
    </div>
</div>